<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".content1" %><%= link_to t(".link1"), "http://www.railstutorial.org" %>
  <%= t ".content2" %>
  <%= link_to t(".link2"),"http://www.railstutorial.org/book" %><%= t ".content3" %>
  <%= link_to t(".link3"),"http://screencasts.railstutorial.org/" %>
  <%= t ".content4" %>
  <%= link_to t(".link4"),"http://rubyonrails.org/" %>
  <%= t ".content5" %>
</p>
