<footer class="footer">
  <small>
    <%= t ".content1" %> <%= link_to t(".link1"), "http://www.railstutorial.org/"%>
    <%= t ".content2" %> <%= link_to t(".link2"),"http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link3"), about_path %></li>
      <li><%= link_to t(".link4"), contact_path %></li>
      <li><%= link_to t(".link5"), "http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
